[submodule "backend_api_honey"]
	path = backend_api_honey
	url = https://github.com/abdullahalhoothy/backend_api_honey.git
[submodule "honey_frontend"]
	path = honey_frontend
	url = https://github.com/abdullahalhoothy/honey_frontend.git
